footer {
    box-shadow: 0px -4px 7px -4px rgb(0 0 0 / 20%);
    min-height: 4em;
    margin-top: 1.5em;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link {
    color: rgb(0 0 0 / 75%);
}