.hiw-page-container,
.hiw-page-journal-terms-section-container {
    display: flex;
    flex-direction: column;
}

.hiw-page-container {
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    max-width: min(80ch, 100%);
}

.hiw-page-journal-terms-section-container {
    text-decoration: underline;
}

.hiw-page-journal-terms-section {
    text-align: start;
}