.dashboard-journal-entries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-no-entries-container {
    display: flex;
    flex-direction: column;
    max-width: min(80ch, 100%);
}

.dashboard-create-journal-entry-button-container {
    margin-top: 15px;;
}