.login-form-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 15px;
    margin-bottom: 10px;
}

.login-form-input {
    margin-bottom: 10px;
}