.landing-page-container,
.landing-page-description-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.landing-page-container {
    padding-top: 1rem;
    max-width: min(80ch, 100%);
}

.landing-page-description-container {
    margin-top: 2rem;
}