.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-modal-container {
    max-width: 712px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.login-modal-title {
    text-align: left;
    margin-bottom: 25px;
}

.login-modal-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-modal-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 15px;
    margin-bottom: 10px;
}

.login-modal-form-input {
    margin-bottom: 10px;
}
