.profile-container,
.profile-edit-container,
.profile-delete-account-confirmation,
.profile-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    min-width: 375px;
}

.profile-info-container,
.profile-edit-button-container,
.profile-delete-button-container,
.profile-edit-action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.profile-info-container,
.profile-edit-button-container,
.profile-delete-button-container {
    justify-content: space-between;
    width: 100%;
}

.profile-edit-action-container,
.profile-edit-action-button {
    margin: 8px;
}

.profile-info-container {
    margin-bottom: 8px;
}

.profile-edit-button-container,
.profile-delete-button-container {
    margin: 8px 0;
}

.profile-delete-form {
    width: 375px;
}

.profile-delete-account-confirmation {
    max-width: min(80ch, 100%);
}